@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@keyframes underlineAnimation {
    0% {
      transform: scaleX(0); /* Start with the underline hidden */
      transform-origin: center; /* Start from the middle */
    }
    50% {
      transform: scaleX(1); /* Full width at 50% of the animation */
    }
    100% {
      transform: scaleX(0); /* Shrink the underline back to 0 */
    }
  }
  
  .animate-underline {
    animation: underlineAnimation 2s ease-in-out infinite; /* Continuous animation */
    transform-origin: center; /* Ensure it starts from the middle */
  }